html,
body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background-color: #111827;
}

.heading {
  display: flex;
  align-items: center;
  gap: 1em;
}

#emoji {
  font-size: xx-large;
}

.feeling {
    color: #9ca3af
}

.last-check {
    color: #9ca3af;
}
